@use '../../../styles/variables' as *;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$size-small: 16px;
$size-medium: 32px;
$size-large: 48px;

.spinner {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  border: 3px solid transparent;
  border-top-color: $color-primary;
  border-right-color: $color-primary;
  border-radius: $radius-full;
  animation: spin 0.8s linear infinite;
}

.small .circle {
  width: $size-small;
  height: $size-small;
}

.medium .circle {
  width: $size-medium;
  height: $size-medium;
}

.large .circle {
  width: $size-large;
  height: $size-large;
}

.label {
  margin-top: $spacing-2;
  font-size: $font-size-body2;
  color: $color-text-secondary;
  text-align: center;
}
