@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.wrapper {
  margin-top: $spacing-8 * 2; // 64px, matching MUI marginTop: 8
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  @include elevation(4);
  padding: $spacing-8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $color-paper;
  border-radius: $radius-sm;
}

.errorCode {
  font-family: $font-family;
  font-size: $font-size-h1;
  font-weight: $font-weight-light;
  line-height: $line-height-h1;
  letter-spacing: $letter-spacing-h1;
  color: $color-text-primary;
  margin: 0 0 $spacing-2;
}

.title {
  font-family: $font-family;
  font-size: $font-size-h5;
  font-weight: $font-weight-regular;
  line-height: $line-height-h5;
  letter-spacing: $letter-spacing-h5;
  color: $color-text-primary;
  margin: 0 0 $spacing-2;
}

.description {
  font-family: $font-family;
  font-size: $font-size-body1;
  line-height: $line-height-body1;
  letter-spacing: $letter-spacing-body1;
  color: $color-text-primary;
  text-align: center;
  margin: 0 0 $spacing-6;
}
