@use '../../../styles/variables' as *;

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.titleText {
  font-size: $font-size-h6;
  font-weight: $font-weight-medium;
  line-height: $line-height-h6;
  letter-spacing: $letter-spacing-h6;
  color: $color-text-primary;
}

.alert {
  display: flex;
  align-items: center;
  gap: $spacing-2;
  padding: $spacing-3;
  margin-bottom: $spacing-4;
  background-color: lighten($color-error, 42%);
  border: 1px solid lighten($color-error, 30%);
  border-radius: $radius-sm;
  color: $color-error;
  font-size: $font-size-body2;
  line-height: $line-height-body2;
}

.alertIcon {
  flex-shrink: 0;
}

.alertText {
  flex: 1;
}

.statusRow {
  display: flex;
  align-items: center;
  gap: $spacing-2;
  margin-bottom: $spacing-4;
}

.completedDate {
  font-size: $font-size-caption;
  line-height: $line-height-caption;
  color: $color-text-secondary;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
}

.fieldError {
  font-size: $font-size-caption;
  line-height: $line-height-caption;
  color: $color-error;
  margin-top: $spacing-1;
}

.timestamps {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
}

.timestamp {
  font-size: $font-size-caption;
  line-height: $line-height-caption;
  letter-spacing: $letter-spacing-caption;
  color: $color-text-secondary;
}

.spacer {
  flex: 1;
}

.deleteButton {
  color: $color-error;

  &:hover:not(:disabled) {
    background-color: lighten($color-error, 42%);
  }
}

.spinIcon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
