@use '../../../styles/variables' as *;

.amountIncome {
  color: $color-success;
  font-weight: $font-weight-medium;
}

.amountExpense {
  color: $color-error;
  font-weight: $font-weight-medium;
}

.splitBadge {
  display: inline-block;
  margin-left: $spacing-2;
  padding: 1px $spacing-2;
  font-size: $font-size-caption;
  font-weight: $font-weight-medium;
  color: $color-info;
  background-color: rgba($color-info, 0.08);
  border-radius: $radius-sm;
  vertical-align: middle;
}

.actions {
  display: inline-flex;
  gap: $spacing-1;
  align-items: center;
}
