@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  min-width: 0;
  padding: $spacing-4;
  margin-top: $appbar-height;

  @include respond-to(sm) {
    padding: $spacing-6;
  }

  @include respond-to(md) {
    margin-left: $drawer-width;
  }
}

.appbar {
  @include respond-to(md) {
    width: calc(100% - $drawer-width);
    margin-left: $drawer-width;
  }
}

.menuButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: $spacing-2;
  border-radius: $radius-full;
  margin-right: $spacing-2;

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }

  &:focus-visible {
    @include focus-ring($color-primary-contrast);
  }

  @include respond-to(md) {
    display: none;
  }
}

.title {
  flex-grow: 1;
  font-size: $font-size-h6;
  font-weight: $font-weight-medium;
  line-height: $line-height-h6;
  @include truncate;
}

.toolbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  gap: $spacing-4;
  margin-left: auto;
}

.email {
  display: none;
  font-size: $font-size-body2;

  @include respond-to(sm) {
    display: block;
  }
}

.logoutButton {
  color: $color-primary-contrast;

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

.sidebarTitle {
  font-size: $font-size-h6;
  font-weight: $font-weight-medium;
  @include truncate;
}
